<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-container style="border: 1px solid #eee">
        <el-container>
            <el-main style="text-align: center">
                <el-upload
                        ref="upload"
                        action="#"
                        :http-request="uploadFile"
                        :on-preview="handlePreview"
                        :on-remove="handleRemove"
                        :before-remove="beforeRemove"
                        :on-change="onChange"
                        :auto-upload="false"
                        :limit="1">
                    <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                    <el-button :disabled="submitUploadBtnState" style="margin-left: 10px;" size="small" type="success"
                               @click="submitUpload">上传文件
                    </el-button>
                    <div id="uploadTip" slot="tip" class="el-upload__tip">请选择上传文件</div>
                </el-upload>
                <div style="width: 275px;margin: 15px auto;">
                    <el-progress :text-inside="true" :stroke-width="20" :percentage="percentage"></el-progress>
                </div>
                <el-table :data="tableData">
                    <el-table-column align="center" header-align="center" prop="fileName" label="文件名">
                    </el-table-column>
                    <el-table-column align="center" header-align="center" prop="fileUrl" label="文件链接">
                    </el-table-column>
                    <el-table-column align="center" header-align="center" label="操作">
                        <el-button slot-scope="scope" size="small" type="primary" @click="copyFileUrl(scope.row)">
                            复制链接
                        </el-button>
                    </el-table-column>
                </el-table>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script type="text/javascript" src="/index/js/md5.js"></script>
<script type="text/javascript" src="/index/js/tool.js"></script>
<script type="text/javascript" src="/index/js/uploadFile.js"></script>
<script>
    new Vue({
        el: '#app',
        data: () => {
            return {
                submitUploadBtnState: false,
                tableData: [],
                percentage: 0
            }
        },
        methods: {
            handleRemove(file) {
                this.$data.submitUploadBtnState = false;
                document.getElementById("uploadTip").innerText = "请选择上传文件"
                this.$data.tableData = []
                console.log('删除选择文件', file);
            },
            handlePreview(file) {
                console.log('预览选择文件', file);
            },
            beforeRemove(file) {
                return this.$confirm(`确定移除 ${file.name}？`);
            },
            async onChange(file) {
                this.$data.submitUploadBtnState = false;
                const data = await checkFile(file.raw);
                if (!data) {
                    this.$data.percentage = 0
                    document.getElementById("uploadTip").innerText = "该文件未上传"
                    return;
                }
                this.$data.percentage = data['segmentIndex'] / data['segmentTotal'] * 100;
                if (this.$data.percentage < 100) {
                    document.getElementById("uploadTip").innerText = "该文件未上传完成,点击上传文件继续上传"
                    return;
                }
                document.getElementById("uploadTip").innerText = "该文件已上传"
                this.$data.submitUploadBtnState = true;
                const temp = {
                    fileName: data['name'] + '.' + data['suffix'],
                    fileUrl: data['url'],
                }
                this.$data.tableData.push(temp);
            },
            async submitUpload() {
                this.$data.submitUploadBtnState = true;
                this.$refs.upload.submit()
            },
            async uploadFile(value) {
                await uploadFile(value.file, (err, data) => {
                    this.$data.percentage = data['segmentIndex'] / data['segmentTotal'] * 100;
                });
            },
            copyFileUrl(row) {
                const oInput = document.createElement('input');
                oInput.value = row['fileUrl'];
                document.body.appendChild(oInput);
                oInput.select(); // 选择对象;
                document.execCommand("Copy"); // 执行浏览器复制命令
                oInput.remove()
                this.$message({
                    message: '复制成功',
                    type: 'success'
                });
            }
        },
    })
</script>
<style>
</style>
</html>