<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-container style="border: 1px solid #eee">
        <el-container>
            <el-main style="text-align: center">
                <el-upload
                        ref="upload"
                        action="#"
                        :http-request="uploadFile"
                        :on-preview="handlePreview"
                        :on-remove="handleRemove"
                        :before-remove="beforeRemove"
                        :auto-upload="false"
                        :show-file-list="true"
                        :limit="1">
                    <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                    <el-button style="margin-left: 10px;" size="small" type="success"
                               @click="submitUpload">上传文件
                    </el-button>
                    <div id="uploadTip" slot="tip" class="el-upload__tip">请选择上传文件</div>
                </el-upload>
                <div style="width: 325px;margin: 15px auto;">
                    <el-progress :text-inside="true" :stroke-width="20" :percentage="percentage"></el-progress>
                </div>
                <el-table :data="tableData">
                    <el-table-column align="center" header-align="center" prop="fileName" label="文件名">
                    </el-table-column>
                    <el-table-column align="center" header-align="center" prop="fileUrl" label="文件链接">
                    </el-table-column>
                    <el-table-column align="center" header-align="center" label="操作">
                        <el-button slot-scope="scope" size="small" type="primary" @click="copyFileUrl(scope.row)">
                            复制链接
                        </el-button>
                    </el-table-column>
                </el-table>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script type="text/javascript" src="/index/js/lib/spark-md5.min.js"></script>
<script type="text/javascript" src="/index/js/lib/axios.min.js"></script>
<!-- import Vue before Element -->
<script type="text/javascript" src="/index/js/lib/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript" src="/index/js/md5.js"></script>
<script type="text/javascript" src="/index/js/tool.js"></script>
<script type="text/javascript" src="/index/js/uploadFile.js"></script>
<script type="text/javascript" src="/index/js/index.js"></script>
<style>
</style>
</html>